@page
@model DxCafeApp.Pages.ErrorModel

<meta http-equiv="refresh" content="3;URL=./">

<div class="container p-5">

    <div class="alert alert-warning" role="alert">
        @Model.Message
    </div>

</div>
